<mat-card appearance="outlined" class="time-card-container">
	<mat-card-header class="card-header"
		>{{ this.headerName
		}}<mat-icon *ngIf="isTabletView" class="material-icons-outlined header-icon">{{
			arrowIcon
		}}</mat-icon></mat-card-header
	>
	<div class="card-content">
		<mat-card-content class="minutes">
			{{ stationTimes.time1 }} | {{ stationTimes.time2 }}</mat-card-content
		>
		<mat-card-content class="station" *ngIf="!isTabletView"
			>{{ endStation }}
			<mat-icon class="material-icons-outlined">{{
				arrowIcon
			}}</mat-icon></mat-card-content
		>
	</div>
	<div class="card-content-2">
		<mat-card-content class="time">
			{{ stationTimes.arrivalTime1 }} |
			{{ stationTimes.arrivalTime2 }}</mat-card-content
		>
	</div>
</mat-card>
