@use "../../../styles.scss" as styles;

.time-card-container {
	display: flex;
	flex-direction: column;
	background-color: var(--mat-sys-tertiary-container);
	border-color: var(--mat-sys-tertiary-container);
	box-shadow: styles.$box-shadow;
}

.card-header,
.time {
	font: var(--mat-sys-body-large);
}

.card-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.minutes,
.station {
	font: var(--mat-sys-body-large);
	color: var(--mat-sys-tertiary);
	font-size: larger;
}

.station {
	padding: 16px 16px 0 0;
	display: flex;
	align-items: center;

	.mat-icon {
		margin-left: 8px;
	}
}

.mat-mdc-card-content:last-child {
	padding-bottom: 8px;
}

.header-icon {
	margin-left: 8px;
}
