<div class="home-container">
	<app-header
		[isMobileView]="isMobileView"
		[currentLanguage]="currentLanguage"
	></app-header>
	<div class="content">
		<div class="line-container" *ngIf="!isTabletView || !showStationData">
			<ul class="list-line">
				<li class="list-item" *ngFor="let station of stationList">
					<div class="bullet-container">
						<div class="bullet"></div>
						<a
							(click)="toggleStation(station)"
							[class.selected]="station === selectedStation && !isTabletView"
							>{{ station }}</a
						>
					</div>
				</li>
			</ul>
		</div>
		<div class="station-wrapper" *ngIf="!isTabletView || showStationData">
			<app-station-page
				[station]="selectedStation"
				[isTabletView]="isTabletView"
				[stationData]="stationData"
				(goBackToListEvent)="goBackToList($event)"
			></app-station-page>
			<div
				[ngClass]="{
					'information-wrapper-narrow': isNarrowScreen,
					'information-wrapper-mobile': isMobileView,
				}"
				*ngIf="isNarrowScreen || isMobileView"
			>
				<app-train-location
					class="train-location-narrow"
					[trainToAlbolote]="stationData.currentStationToAlbolote"
					[trainToArmilla]="stationData.currentStationToArmilla"
				></app-train-location>
				<app-schedule-information
					class="train-schedule-narrow"
				></app-schedule-information>
			</div>
		</div>
		<div class="information-wrapper" *ngIf="!isNarrowScreen">
			<app-train-location
				[trainToAlbolote]="stationData.currentStationToAlbolote"
				[trainToArmilla]="stationData.currentStationToArmilla"
			></app-train-location>
			<app-schedule-information></app-schedule-information>
		</div>
	</div>
	<app-footer></app-footer>
</div>
