<div class="home-container">
	<app-header></app-header>
	<div class="content">
		<div class="line-container" *ngIf="!isMobileView || !showStationData">
			<ul class="list-line">
				<li class="list-item" *ngFor="let station of stationList">
					<div class="bullet-container">
						<div class="bullet"></div>
						<a
							(click)="toggleStation(station)"
							[class.selected]="station === selectedStation && !isMobileView"
							>{{ station }}</a
						>
					</div>
				</li>
			</ul>
		</div>
		<div class="station-wrapper" *ngIf="!isMobileView || showStationData">
			<app-station-page
				[station]="selectedStation"
				[isMobileView]="isMobileView"
				[stationData]="stationData"
				(goBackToListEvent)="goBackToList($event)"
			></app-station-page>
			<div class="information-wrapper-narrow" *ngIf="isNarrowScreen">
				<app-train-location *ngIf="!isMobileView"></app-train-location>
				<app-schedule-information></app-schedule-information>
			</div>
		</div>
		<div class="information-wrapper" *ngIf="!isNarrowScreen">
			<app-train-location></app-train-location>
			<app-schedule-information></app-schedule-information>
		</div>
	</div>
	<app-footer></app-footer>
</div>
