<div class="train-location-container">
	<h1>Ubicación de trenes</h1>
	<div class="train-location-content">
		<div class="way-up">
			<p>
				<span class="icon-text-container">
					<mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
					Albolote: <span>Estación de Ferrocarril</span> | <span>Caleta</span>
				</span>
			</p>
		</div>
		<div class="way-down">
			<p>
				<span class="icon-text-container">
					<mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
					Armilla: <span>Universidad</span> | <span>Recogidas</span>
				</span>
			</p>
		</div>
	</div>
</div>
