@use "@angular/material" as mat;
@use "../../../styles.scss" as styles;

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;

	@media (max-width: styles.$mobile-breaking-point) {
		justify-content: center;
	}
}

.header-title {
	flex-grow: 1;
	text-align: center;
	color: var(--mat-sys-primary);
	font: var(--mat-sys-display-large);

	@media (max-width: styles.$tablet-breaking-point) {
		font: var(--mat-sys-display-medium);
	}

	@media (max-width: styles.$mobile-breaking-point) {
		font: var(--mat-sys-display-small);
	}
}

.logo {
	width: 100px;
	height: 100px;
	vertical-align: middle;

	@media (max-width: styles.$mobile-breaking-point) {
		width: 75px;
		height: 75px;
	}
}

.language-toggle-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: auto;
	margin-left: auto;
	margin-right: 24px;

	p {
		font: var(--mat-sys-headline-small);
		color: var(--mat-sys-tertiary);

		@media (max-width: styles.$tablet-breaking-point) {
			font-size: large;
			padding-top: 8px;
			margin-right: auto;
		}
	}
}

.toggleLanguage {
	cursor: pointer;
}

.selected {
	font-weight: bold;
}
