<div class="station-page-container">
	<div class="station-header">
		<h1>{{ station }}</h1>
		<div class="back-arrow" *ngIf="isMobileView" (click)="goBackToList()"><p>←</p></div>
	</div>
	<app-station-map class="station-page-map" [station]="station"></app-station-map>
	<div class="body-container">
		<div class="card-container">
			<h1>{{ "NEXT_TRAINS" | translate }}</h1>
			<div class="card-column">
				<app-time-card
					class="station-page-card"
					[station]="station"
					[isMobileView]="isMobileView"
					[isWayToAlbolote]="true"
					[stationData]="stationData"
				></app-time-card>
				<app-time-card
					class="station-page-card"
					[station]="station"
					[isMobileView]="isMobileView"
					[isWayToAlbolote]="false"
					[stationData]="stationData"
				></app-time-card>
			</div>
		</div>
		<div class="service-container">
			<h1>{{ "SERVICES" | translate }}</h1>
			<div class="services-column">
				<app-station-services [station]="station"></app-station-services>
			</div>
		</div>
	</div>
</div>
