<div class="schedule-container">
	<h1>Horarios</h1>
	<div class="schedule-content">
		<div class="schedule-row">
			<span class="schedule-day">Lunes a jueves:</span>
			<span class="schedule-time">6:30 - 23:00</span>
		</div>
		<div class="schedule-row">
			<span class="schedule-day">Viernes y vísperas de festivo:</span>
			<span class="schedule-time">6:30 - 2:00</span>
		</div>
		<div class="schedule-row">
			<span class="schedule-day">Sábado:</span>
			<span class="schedule-time">6:30 - 2:00</span>
		</div>
		<div class="schedule-row">
			<span class="schedule-day">Domingo y festivo:</span>
			<span class="schedule-time">6:30 - 23:00</span>
		</div>
	</div>
</div>
