<div class="schedule-container">
	<h1>{{ "SCHEDULE" | translate }}</h1>
	<div class="schedule-content">
		<div class="schedule-row">
			<span class="schedule-day">{{ "SCHEDULE_DAYS_1" | translate }}:</span>
			<span class="schedule-time">6:30 - 23:00</span>
		</div>
		<div class="schedule-row">
			<span class="schedule-day">{{ "SCHEDULE_DAYS_2" | translate }}:</span>
			<span class="schedule-time">6:30 - 2:00</span>
		</div>
		<div class="schedule-row">
			<span class="schedule-day">{{ "SCHEDULE_DAYS_3" | translate }}:</span>
			<span class="schedule-time">6:30 - 2:00</span>
		</div>
		<div class="schedule-row">
			<span class="schedule-day">{{ "SCHEDULE_DAYS_4" | translate }}:</span>
			<span class="schedule-time">6:30 - 23:00</span>
		</div>
	</div>
</div>
